.title, .title__main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    font-size: 13rem;
}
.title::after, .title::before, 
.title__main::after .title__main::before {
    content: "2022";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    font-size: 'Open Sans', sans-serif;
    z-index: -1;
}

.title {
    color: transparent;
}

.title::after {
    color: #00b4f4;
    -webkit-clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
    font-weight: 300;
    animation: path-10 70s -10s ease infinite;
}

.title::before {
    color: #fe9400;
    -webkit-clip-path
}
